<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ТгатІцућ│УФІТЅ┐УфЇжђџуЪЦ</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>ТгатІцућ│УФІТЅ┐УфЇжђџуЪЦ</h1>
      <h2>тІцТђау«Ауљєсѓисѓ╣сЃєсЃа</h2>
    </div>
    
    <div class="content">
      <p><%= @requester_name %>ТДў</p>
      
      <p>сЂѓсЂфсЂЪсЂ«ТгатІцућ│УФІсЂїТЅ┐УфЇсЂЋсѓїсЂЙсЂЌсЂЪсђѓ</p>
      
      <div class="shift-info">
        <p>РќаТгатІцС║ѕт«џТЌЦТЎѓ</p>
        <div class="time"><%= @shift_date.strftime('%mТюѕ%dТЌЦ') %> <%= @start_time.strftime('%H:%M') %>№йъ<%= @end_time.strftime('%H:%M') %></div>
      </div>
      
      <p>сѓисЃЋсЃѕУАесЂїТЏ┤Тќ░сЂЋсѓїсЂЙсЂЌсЂЪсЂ«сЂДсђЂсЂћуб║УфЇсЂЈсЂасЂЋсЂёсђѓ</p>
      <p>­ЪЊ▒ <strong>сѓисЃЋсЃѕуб║УфЇТќ╣Т│Ћ№╝џ</strong><br>
      LINEсЂДсђїсѓисЃЋсЃѕсђЇсЂетЁЦтіЏсЂЎсѓІсЂетђІС║║сЂ«сѓисЃЋсЃѕсѓњуб║УфЇсЂДсЂЇсЂЙсЂЎ<br>
      LINEсЂДсђїтЁетЊАсѓисЃЋсЃѕсђЇсЂетЁЦтіЏсЂЎсѓІсЂетЁетЙЊТЦГтЊАсЂ«сѓисЃЋсЃѕсѓњуб║УфЇсЂДсЂЇсЂЙсЂЎ</p>
    </div>
    
    <div class="footer">
      <p>сЂЊсЂ«сЃАсЃ╝сЃФсЂ»УЄфтІЋжђЂС┐АсЂЋсѓїсЂдсЂёсЂЙсЂЎсђѓУ┐ћС┐АсЂ»сЂДсЂЇсЂЙсЂЏсѓЊсђѓ</p>
      <p>┬Е 2024 тІцТђау«Ауљєсѓисѓ╣сЃєсЃа</p>
    </div>
  </div>
</body>
</html>
